<p>Register Form</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <input formControlName="name" />
  </div>
    <div *ngIf="registerForm.get('name')?.touched">

    <small *ngIf="registerForm.get('name')?.errors?.['required']">
    * Name is required
    </small>
    </div>
  <div>
    <label>Email:</label>
    <input formControlName="email" type="email" />
  </div>
   <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">

    <small *ngIf="registerForm.get('email')?.errors?.['required']">
    * Email is required
    </small>

        <!-- <small
  *ngIf="registerForm.get('email')?.errors?.['email']
      && registerForm.get('email')?.touched">
  Enter a valid email address
</small> -->

<small *ngIf="registerForm.get('email')?.errors?.['pattern']">
  Enter a valid email address
</small>
  </div>

  <div>
    <label>Password:</label>
    <input formControlName="password" type="password" />
    <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
Password must be at least 6 characters long
</small>
  </div>
   <div>
    <label>Confirm Password:</label>
    <input formControlName="confirmPassword" type="confirmPassword" />
  </div>
  <button type="submit" [disabled]="registerForm.invalid">Register</button>

  <small *ngIf="registerForm.errors?.['passwordMismatch'] 
            && registerForm.get('confirmPassword')?.touched" 
  class="error">
  Passwords do not match
</small>

<!-- <small
 *ngIf="registerForm.get('confirmPassword')?.touched
 && registerForm.errors?.['passwordMismatch']"
 class="error">
  Passwords do not match
</small> -->

</form>
