<main class="auth-page">
  <div class="login-container">
    <p class="eyebrow">WELCOME TO SHOPEASE</p>
    <h1>Create your account</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Name:</label>
        <input class="form-control" placeholder="Full Name" formControlName="name" />
      </div>
      <div *ngIf="registerForm.get('name')?.touched">

        <small *ngIf="registerForm.get('name')?.errors?.['required']">
          * Name is required
        </small>
      </div>
      <div>
        <label>Email:</label>
        <input class="form-control" placeholder="Email" formControlName="email" type="email" />
      </div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">

        <small *ngIf="registerForm.get('email')?.errors?.['required']">
          * Email is required
        </small>

        <!-- <small
      *ngIf="registerForm.get('email')?.errors?.['email']
          && registerForm.get('email')?.touched">
      Enter a valid email address
    </small> -->

        <small *ngIf="registerForm.get('email')?.errors?.['pattern']">
          Enter a valid email address
        </small>
      </div>

      <div>
        <label>Password:</label>
        <input class="form-control" placeholder="Password" formControlName="password" type="password" />
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters long
        </small>
      </div>
      <div>
        <label>Confirm Password:</label>
        <input class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" type="password" />
      </div>

      <small *ngIf="registerForm.errors?.['passwordMismatch'] 
                && registerForm.get('confirmPassword')?.touched" class="error">
        Passwords do not match
      </small>

      <button class="btn btn-dark w-100" type="submit" [disabled]="registerForm.invalid">Register</button>

  
      <!-- <small
    *ngIf="registerForm.get('confirmPassword')?.touched
    && registerForm.errors?.['passwordMismatch']"
    class="error">
      Passwords do not match
    </small> -->

    </form>
  </div>

</main>