.checkout-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkout-card {
  width: 700px;
  background: #c7dff5;
  padding: 30px;
  border: 2px solid #4d7092;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table,
th,
td {
  border: 1px solid #999;
}

th,
td {
  padding: 8px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
}